<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PullToRefreshDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89CB984F1B12C77700C87160</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2DA3FAF1A6B009300F5576F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2DA3FC41A6B009300F5576F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
